@charset "UTF-8";

/*---varibalar till färger---*/
:root {
    --black-bg: #000000; /*svart bakgrund*/
    --white-bg: #ffffff; /*vit bakgrund*/  
    --purple-bg: #800080; /*purple*/
    --gy-bg: #000066; /*darkBlue*/
    --bv-bg:  #8a2be2; /*blueViolette*/
    --pS24-bg: #806180; /*purple saturnation 24%*/
    --bvS24-bg: #c6abe0; /*blueViolette saturnation 24%*/
    --dBS24-bg: #4e4e66; /**darkBlue saturnation 24%*/
    --black-text: #000000; /*normal text*/
    --white-text: #ffffff; /*vit text*/ 
    --titleShadow-1: #ededed; 
    --titleShadow-2: #00000026;
    --titleColor-3: #2b2b2b;
}

/*---cascade till nyheterna---*/
#news {
	margin:3.33333333333333%; /*50/1500*/ 
	background-color: 
	var(--white-bg); 
	clear: both; 
	color: var(--black-text);
	border-radius: 10px;
	border: 3px solid var(--black-bg);
}

#news #videos {
    background-color: var(--white-bg);
}

#news h2 {
	text-align: center; 
	font-size: 3em;
    border-radius: inherit;
}

.news{
	margin: inherit;
	color: var(--black-text);   
	background-color: var(--white-bg); 
	clear: both;
	border-radius: inherit;   
}

.news h3 {
	text-align: center; 
	font-size: 3em; 
	clear: both;
	border-radius: inherit;
}

#news figure {
	float:left; 
	width:25%; /* 375/1500*/ 
	margin:3.33333333333333%; /*50/1500*/ 
	padding:0.26666666666667%; /*1500/4*/
	background-color:var(--pS24-bg); 
	border:3px solid var(--black-bg); 
	border-radius: inherit;
	box-shadow: 3px 3px 15px var(--black-bg);
}

#news img, #news video {
	width:100%;
	border-radius: inherit;
}

#news h4 {
	margin:0; padding:0;
	border-radius: inherit;
	text-align: center;
}

#products p {
	margin:0; 
	padding:0;
	border-radius: inherit;
}

/*---Cascade for #videos---*/
#videos {
	clear: both;  
	font-size:2em; 
	background-color:var(--bvS24-bg); 
	color:var(--black-text); 
	font-style:normal; 
	margin:0 auto; 
	padding:0;
	border-radius: inherit;
}

#videos ul li {
	display:inline;
	border-radius: inherit;
}

/* ----- Stil för form  max-width:1000px----- */
@media screen and (max-width:1000px) {
	#news figure {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}


/* ----- Stil för form  max-width:650px----- */
@media screen and (max-width:650px) {
    #news figure {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.news h3 {
		font-size: 2em;
	}	

}

/* ----- Stil för form  max-width:350px----- */
@media screen and (max-width:400px) {
	#news {
		margin: 0px;
		border-radius: 0;
	}
	#news figure {
		box-shadow: none;
	}
	#news video {
		height: 150px;
	}
	.news h3 {
		font-size: 1em;
	}
}